.background {
    background: url(../assets/surface1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

}

.background-alternate {
    background: url(../assets/surface2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#front-cover {
    background-color: #78C2C3;
}

.cover {
    background-color: #856404;
}

.book-text {
    position: absolute;
    bottom: 5%;
    padding-right: 1%;
    padding-left: 1%;
}

.last {
    background-color: #54B0A5
}

.book-image {
    
   
}

#title-text {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 5%;
    left: 20%;
}

.book-page {
    background-color: white;
}

#book-container {
    position: relative;
    transform: translateY(15%);
}

#toggle-button {
    position: relative;
    left: 2%;
}
